body {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

header {
  background-image: url(Images/netflix4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 120vh;
  color: white;
  background-color: black;
}

header img {
  width: auto;
  height: 130px;
  display: flex;
  margin-left: 100px;
}

nav {
  display: flex;
  margin: 0;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 650px;
}

.button .lang {
  margin-right: 20px;
}

.lang {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(211, 208, 208);
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.eng-icon {
  margin-right: 10px;
}

.lang-icon {
  margin-left: 10px;
}

.sign-in {
  padding: 8px 15px;
  color: white;
  background-color: #e61e1e;
  border: 1px solid #e61e1e;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}
.sign-in:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 150px;
}

h1 {
  font-size: 50px;
  margin: 0;
}

.cta p {
  font-size: 20px;
}

.cta p:nth-last-of-type(1) {
  margin-top: 0;
}

.input-container input {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(104, 101, 101);
  border-radius: 5px;
  padding: 18px 180px 18px 10px;
  font-size: bold;
}

.input-container button {
  font-size: 20px;
  color: white;
  background-color: #e61e1e;
  border: 1px solid #e61e1e;
  padding: 15px 30px;
  margin-left: 5px;
  border-radius: 5px;
}

.input-container button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.getstarted-icon {
  margin-left: 10px;
}

.devices {
  width: 100%;
  height: 85vh;
  background-color: #000000;
  color: white;
  border-bottom: 6px solid #717275;
  position: relative;
  display: flex;
  justify-content: center;
}

.banner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 470px;
  border-radius: 5px;
  top: -4rem;
  background: radial-gradient(
    circle,
    rgba(27, 52, 87, 1) 0%,
    rgba(27, 52, 87, 1) 0%,
    rgba(212, 28, 99, 1) 0%,
    rgba(8, 40, 83, 1) 98%
  );
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  line-height: 1.8;
}

/* .banner-content .banner-img img {
  height: 100px;
  display: flex;
  justify-content: start;
} */

.banner-content .netflix {
  font-size: 18px;
  font-weight: bold;
}

.banner-content a {
  font-size: 15px;
  font-weight: bold;
  color: rgb(54, 54, 255);
}

.learn-more-icon {
  padding-left: 10px;
}

.device-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.devices img {
  width: auto;
  height: 280px;
  margin-top: 100px;
}

.devices-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  font-size: 25px;
  margin: 50px 50px 0 0;
}

.devices h2 {
  margin-bottom: 20px;
  font-size: 45px;
}

.devices p {
  margin: 0;
}

.download-container {
  height: 80vh;
  width: auto;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 6px solid #717275;
}
.download-container img {
  width: auto;
  height: 300px;
}

.download-content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  font-size: 25px;
  margin-left: 70px;
}

.download-content h2 {
  margin: 0;
  font-size: 45px;
}

.netflix-kids-container {
  height: 85vh;
  width: auto;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: row;
  border-bottom: 6px solid #717275;
}

.netflix-kids {
  max-width: 550px;
  font-size: 25px;
  margin: 160px 80px 0 150px;
}

.netflix-kids-container img {
  width: auto;
  height: 330px;
  margin-top: 70px;
}

.netflix-kids h2 {
  margin: 0;
}

.shows-container {
  width: auto;
  height: 80vh;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 6px solid #717275;
}

.shows {
  max-width: 400px;
}

.shows-container img {
  width: auto;
  height: 300px;
  margin-right: 70px;
}

.shows-container h2 {
  font-size: 45px;
  margin: 0;
}

.faq {
  color: white;
  background-color: #000000;
  border-bottom: 6px solid #717275;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq-heading h3 {
  font-family: Share;
  font-size: 50px;
  margin: 40px 0;
  padding: 0;
}

.faq-card-container {
  margin-top: 40px;
  width: 50%;
  height: 40%;
}

.faq-card {
  width: 1000px;
  background-color: #47484a;
  margin-bottom: 10px;
  padding: 35px 40px;
  border: none;
  font-size: 20px;
}

.faq-card p {
  line-height: 1.9;
  max-width: 700px;
}

.icon {
  transition: transform 0.3s;
  font-size: 40px;
}

.details,
[open] .icon {
  transform: rotate(90deg);
}

.details {
  margin-bottom: 30px;
  padding: 25px 60px;
  border: none;
  border-radius: 20px;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}

.membership-container {
  margin: 30px 0 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.membership-container p {
  font-size: 20px;
}

.membership-container-login input {
  color: white;
  background-color: rgba(129, 127, 127, 0.1);
  border: 1px solid rgb(104, 101, 101);
  border-radius: 5px;
  padding: 18px 180px 18px 10px;
  font-size: bold;
}

.membership-container-login button {
  font-size: 20px;
  color: white;
  background-color: #e61e1e;
  border: 1px solid #e61e1e;
  padding: 14.5px 30px;
  margin-left: 5px;
  border-radius: 5px;
  transition: 0.15s transform ease;
}

.membership-container-login button:hover {
  opacity: 0.8;
  cursor: pointer;
}

footer {
  width: auto;
  height: 70vh;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
}

.contact {
  margin: 50px 0 0 80px;
}

.contact p a {
  color: rgb(211, 200, 200);
}

.footer-links {
  display: flex;
  justify-content: space-around;
}

.footer-links-list p {
  max-width: 250px;
}

.footer-links-list p a {
  color: rgb(211, 200, 200);
}

.footer-button {
  margin: 20px 0 0 80px;
}

.footer-lang {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(173, 170, 170);
  border-radius: 5px;
  color: rgb(211, 200, 200);
  font-weight: bold;
  font-size: 15px;
}
.footer-lang-icon {
  margin-left: 10px;
}
